.news {
  margin-top: 2rem;
}

.news__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
}

.news_item {
  background-color: var(--color-bg1);
  border: 1px solid transparent;
  transition: var(--transition);
  text-align: left;
}

.news_item:hover {
  background-color: transparent;
  border-color: var(--color-primary);
}

.news__img img{
  width: 100%;
}

.news__info {
  padding: 1rem;
}

.news__info p {
  margin: 1rem 0 1.8rem;
  line-height: 1.7;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .news__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .news__container {
    grid-template-columns: 1fr;
  }
}
